# STS / Eclipse
.metadata/
.classpath
.project
.settings/

# Maven
target/

# Gradle
build/
.gradle/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Environment
.env

# Java
*.class